<%- include('../partials/header') %>

<body>
    <%- include('../partials/nav') %>
    <div class="container">
        <div>
            <h1><%= hike.name%></h1>
        </div>
        <div>
            <img src=<%= hike.photoLink%> title="hike.name" >
        </div>

    </div><!---container-->
    
</body>
<%- include('../partials/footer') %>

</html>