<%- include('../partials/header') %>

<body>
    <%- include('../partials/nav') %>
    <div class="container">
        <div>
            <h1><%= hike.name%></h1>
        </div>
        <div>
            
        </div>

        <div class="row">
            <div class="col-md-6 offset-3">
                <div>
                    <img src=<%= hike.photoLink%> title="<%hike.name%>" >
                </div>
            </div>
        </div>

        <div>
            <a href="/adventures/hiking/<%=hike.id%>/edit">Edit This Hiking Adventure</a>
        </div>
    </div><!---container-->
    
</body>
<%- include('../partials/footer') %>

</html>