<%- include('../partials/header') %>
<body>
    <%- include('../partials/nav') %>
    <div class="container">
        <h1>Edit This Backpacking Trip</h1>
        <form action="/adventures/backpacking/<%=backpack.id%>?_method=PUT"
            method="POST" class="edit-form" autocomplete="off">


            <div class="form-group">
                <label>Name:</label>
                <input class="form-control" type="text" name="name" value="<%=backpack.name%>">
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label>Primary Region: </label>
                        <select class="form-control" name="primary">
                        <option value="" selected>Choose a region</option>
                        <% region.primary.forEach((r) => { %>
                            <option value="<%=r%>" <%= r === backpack.region[0].primary ? "selected" : "" %> ><%=r%></option>
                        <% }) %>
                    </select>
                    </div>
                    <div class="col">
                        <label>Secondary Region: </label>
                    <select class="form-control" name="secondary">
                        <% region.secondary.forEach((r) => { %>
                            <option value="<%=r%>" <%= r === backpack.region[0].primary ? "selected" : "" %> ><%=r%></option>                        <% }) %>
                    </select>
                    </div>
                </div>
                
                
                </div>
                <div class="form-group">
                    <div class="row">
                       <div class="col">
                            <label>Sub Region: </label>
                            <select class="form-control" name="subRegion">
                                <% region.subRegion.forEach((r) => { %>
                                    <option value="<%=r%>" <%= r === backpack.region[0].primary ? "selected" : "" %> ><%=r%></option>
                                <% }) %>
                            </select>
                       </div>
                       <div class="col">
                            <label>Number of Days:</label>
                            <input class="form-control" type="text" name="numberOfDays" value="<%=backpack.numberOfDays%>">
                       </div> 
                    </div>
                    
                </div>
                
            
            <div class="form-group"> 
                <div class="row">
                    <div class="col">
                        <label>Elevation Gain:</label>
                        <input class="form-control" type="text" name="elevationGain" value="<%=backpack.elevationGain%>">
                    </div>
                    <div class="col">
                        <label>High Point:</label>
                        <input class="form-control" type="text" name="highPoint" value="<%=backpack.highPoint%>">
                    </div>
                    <div class="col">
                        <label>Round Trip:</label>
                        <input class="form-control" type="text" name="roundtrip" value="<%=backpack.roundtrip%>">
                    </div>
                </div>
                
            </div>
            
            <div class="form-group">
        
                <div class="row">
                    <div class="col">
                        <label class="form-check-label">Features:</label><br>
                        <div class="form-check form-check-inline">
                            <div class="row">
                                <div class="col">
                                    <input class="form-check-input" type="checkbox" class="form-check-input" id="water-feature" name="waterFeature" value="Cool Water Feature">
                                    <label class="form-check-label" for="water-feature">Water Feature</label>
                                    <input class="form-check-input" type="checkbox" class="form-check-input" id="epic-view" name="epicView" value="Epic View Point" checked>
                                    <label class="form-check-label" for="epic-view">Epic View</label>
                                </div>
                                
                            </div>
                        </div>  
                    </div>
        
                    <div class="col">
                        <label>Earliest Hikeable Month</label>
                        <select class="form-control" name="meltout">
                            <option value="May" <%= backpack.meltout === "May" ? "selected" : "" %> >May</option>
                            <option value="June" <%= backpack.meltout === "June" ? "selected" : "" %> >June</option>
                            <option value="July" <%= backpack.meltout === "July" ? "selected" : "" %> >July</option>
                            <option value="August" <%= backpack.meltout === "August" ? "selected" : "" %> >August</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label>Travel Time</label>
                        <input type="text" name="travelTime" value="<%=backpack.travelTime%>">
                    </div>
                    <div class="col">
                        <label>Popularity</label>
                        <select name="popularity">
                        <option value="Low" <%= backpack.popularity === "Low" ? "selected" : "" %>>Low</option>
                        <option value="Medium-Low" <%= backpack.popularity === "Medium-Low" ? "selected" : "" %>>Medium-Low</option>
                        <option value="Medium" <%= backpack.popularity === "Medium" ? "selected" : "" %>>Medium</option>
                        <option value="Too Popular" <%= backpack.popularity === "Too Popular" ? "selected" : "" %>>Too Popular</option>
                    </select>
                    </div>
                </div>
        
                <div class="row">
                    
                    <div class="col">
                        <div class="form-check form-check-inline">
                        <div>
                            <input type="checkbox" class="form-check-input" id="waterSources" name="waterSources">
                            <label class="form-check-label" for="waterSources">Dependable Water Sources</label>
                        </div>
                        
                        <div>
                            <input type="checkbox" class="form-check-input" id="river-crossing" name="riverCrossings" checked>
                            <label class="form-check-label" for="river-crossing">Known River Crossings</label>
                        </div>
                        
                        
                        </div>
                    </div>
                </div>
        
                <div class="row">
                    
                    <div class="col">
                        <div class="form-check form-check-inline">
                        <div>
                            <input type="checkbox" class="form-check-input" id="scrambling" name="scrambling" checked>
                            <label class="form-check-label" for="scrambling">Scrables On This Route</label>
                        </div>
                        
                        <div>
                            <input type="checkbox" class="form-check-input" id="car-camping" name="carCamping" checked>
                            <label class="form-check-label" for="car-camping">Good Car-Camping Spots Nearby</label>
                        </div>
                        
                        
                        </div>
                    </div>
                </div>
        
                  
                <div class="row">
                    <div class="col">
                        <label>Photo Link:</label>
                        <input class="form-control" type="text" name="photoLink" value="<%= backpack.photoLink%>">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Map Link:</label>
                        <input class="form-control" type="text" name="mapLink" value="<%= backpack.mapLink%>">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Forecast Link:</label>
                        <input class="form-control" type="text" name="weatherLink" value="<%= backpack.weatherLink%>">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Review Link</label>
                        <input class="form-control" type="text" name="reviewLink" value="<%= backpack.reviewLink%>">
                    </div>
                </div>
                
                
            </div>

            <div class="row"> <!-------------related backpacks-------------->
                <div class="col">
                    <label>Related Adventures: </label>
                </div>
                
                <div class="col">
                    <div class="form-check form-check-inline">
                        <!-------create a counter to id related hikes---------->
                        <%adventures.forEach((a) => { %>

<!---------------------------related backpacks must share subregion. a backpack cannot be related to itself--------------------------------------->

                            <% if(backpack.region[0].subRegion === a.region[0].subRegion){ %>
                                <% if(!backpack._id.equals(a._id)) { %>
                                    <div>
                                        <input type="checkbox" class="form-check-input" id="related-adventure" name="<%=a._id%>" value="/adventures/<%=a.adventureType%>/<%=a._id%>">
                                        <label class="form-check-label" for="related-adventure"><%=a.name%></label>
                                    </div>
                                <% } %>
                                

                                <% }%>
                            
                       <% }) %>
                    </div>
                </div>
            </div>
            
            <button type="submit">Submit Changes</button>
        

        </form>
    </div>
    


</body>

