<%- include('../partials/header') %>

<body>
    <%- include('../partials/nav') %>
    <div class="container-flex login-bg">
    <div class="container index-bg">
        <div class="show-page">
            <h1><%= backpack.name%></h1>

<!------------Edit / Delete requests------------------->

            <div class="show-page">
                <div class="btn btn-primary div-button">
                    <a href="/adventures/backpacking/<%=backpack.id%>/edit">Edit</a>
                </div>
        
                <form action="/adventures/backpacking/<%= backpack._id %>?_method=DELETE"
                    class="delete-form" method="POST">
                    <button class="btn btn-primary" type="submit">Delete</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col center">
                <div>
                    <img class="show-pic" src=<%= backpack.photoLink%> title="<%=backpack.name%>" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-1">
                <div>
                        <div>
                            <div class="row">
                                <div class="col">
                                    <h3>Primary Region:</h3>
                                    <p><%=backpack.region[0].primary%></p>
                                </div>
                                <div class="col">
                                    <h3>Secondary Region:</h3>
                                    <p><%=backpack.region[0].secondary%></p>
                                </div>
                                <div class="col">
                                    <h3>Sub-Region:</h3>
                                    <p><%=backpack.region[0].subRegion%></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h3>Number of Days:</h3>
                                    <p><%=backpack.numberOfDays%></p>
                                </div>
                                <div class="col">
                                    <h3>Total Eleveation Gain:</h3>
                                    <p><%=backpack.elevationGain%></p>
                                </div>
                                <div class="col">
                                    <h3>Highest Point</h3>
                                    <p><%=backpack.highPoint%></p>
                                </div>
                                <div class="col">
                                    <h3>Roundtrip Distance</h3>
                                    <p><%=backpack.roundtrip%></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h3>Features:</h3>
                                    <p>
                                        <%= backpack.features.length < 2 ? backpack.features[0] : 'This hike has it all'%>

                                    </p>
                                </div>
                                <div class="col">
                                    <h3>Earliest Melt-out:</h3>
                                    <p><%=backpack.meltout%></p>
                                </div>
                                <div class="col">
                                    <h3>Travel Time from Home:</h3>
                                    <p><%=backpack.travelTime%></p>
                                </div>
                            </div>

                            <!---Booleans----->
                            <div class="row">
                                <div class="col">
                                    <h4>
                                        <%= backpack.waterSources ? 'There are known water sources' : 'No known water sources'%>

                                    </h4>
                                    
                                </div>
                                <div class="col">
                                    <h4>
                                        <%= backpack.riverCrossings ? 'Substantial river / creek crossings.' : 'No known river crossings.'%>
                                    </h4>
                                </div>
                                <div class="col">
                                    <h4>
                                        <%= backpack.scrambling ? 'There are scrambles on this route.' : 'No anticipated scrambles.'%>
                                    </h4>
                                </div>
                                <div class="col">
                                    <h4>
                                        <%= backpack.carCamping ? 'There is car camping nearby.' : 'No known worthwhile car-camp spots.'%>
                                    </h4>
                                </div>
                            </div>
                            
                            <!---Links----->
                            <div class="row">
                                <div class="col"><h4>Links:</h4></div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <a href="<%=backpack.weatherLink%>">Weather Forecast</a>
                                </div>
                                <div class="col">
                                    <a href="<%=backpack.reviewLink%>">Trip Reports</a>
                                </div>
                                <div class="col">
                                    <a href="<%=backpack.mapLink%>">Directions</a>
                                </div>
                            </div>

                                                        <!---------related adventures---------->
                            
                            <div class="row">
                                <%if(backpack.relatedAdventures.length > 0){ %>
                                    <div class="col"><h4>Related Adventures:</h4></div>
                                <% } %>
                            </div>
                            <div class="row">
                                <% backpack.relatedAdventures.forEach((b) => { %>
                                    <% let name;%>
                                    <% adventures.forEach((a) => { %>
                                        <%let stringId = a._id.toString() %>
                                        <%if(stringId === b.slice(-24)) name = a.name; %>
                                    <% }) %>
                                    <div class="col">
                                        <a href="<%=b%>"><%=name%></a>
                                    </div>
                                    <% })%>
                            </div>
                        </div>
                </div>
            </div>
        </div>


    </div><!---container-->
   </div>
</body>


</html>