<%- include('../partials/header') %>

<body>
    <%- include('../partials/nav') %>
    <div class="container">
        <div>
            <h1><%= backpack.name%></h1>
        </div>
        <div>
            <img src=<%= backpack.photoLink%> title="<%=backpack.name%>" >
        </div>

    </div><!---container-->
    
</body>
<%- include('../partials/footer') %>

</html>