<!-- HEAD -->
<%- include('./partials/header') %>

<body>
<!-- NAV -->
<%- include('./partials/nav') %>
  

  <!-- Page Content -->
  <div class="container">

    <h1>Adventures</h1>

<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Sub Region</th>
        <th>Elevation Gain</th>
        <th>Round Trip Distance</th>
        <th>Earliest Melt-out</th>
        <th></th>
      </tr>
    </thead>

    <% hikes.forEach((h) => { %>
        <tr >
          <td><%= h.name %></td>
          <td><%= h.region[0].subRegion %></td>
          <td><%= h.elevationGain %></td>
          <td><%= h.roundtrip %></td>
          <td><%= h.meltout %></td>
          <td><a href=<%=h.detailsLink%>>HIKE DETAILS</a></td>
        </tr>
    <% }); %>



    <!-- FOOTER -->
<%- include('./partials/footer') %>
  </div>
  <!-- /.container -->



</body>

</html>
