<!-- HEAD -->
<%- include('./partials/header') %>

<body>
<!-- NAV -->
<%- include('./partials/nav') %>
  

  <!-- Page Content -->
  <div class="container">

    <h1>Adventures</h1>

<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Sub Region</th>
        <th>Elevation Gain</th>
        <th>Round Trip Distance</th>
        <th>Earliest Melt-out</th>
        <th></th>
      </tr>
    </thead>

    <% adventures.forEach((a) => { %>
        <tr >
          <td><a href=<%=a.detailsLink%>><%= a.name %></a></td>
          <td><%= a.region[0].subRegion %></td>
          <td><%= a.elevationGain %></td>
          <td><%= a.roundtrip %></td>
          <td><%= a.meltout %></td>
          
        </tr>
    <% }); %>



    <!-- FOOTER -->
<%- include('./partials/footer') %>
  </div>
  <!-- /.container -->



</body>

</html>
