<!-- HEAD -->
<%- include('./partials/header') %>

<body>
<!-- NAV -->
<%- include('./partials/nav') %>
  

  <!-- Page Content -->
<div class="container-flex login-bg">
<div class="container index-bg">
        
    <div>
        <h1>Adventures</h1>
    </div>

    <div class="row">
        <div class="col-md-10" id="adventure-labels">
            <div class="region-btn" id="typeSelect">
                <label>Adventure Type: </label>
                <select class="form-control" id="typeSelectSelect">
                    <option value="all">All Adventures</option>
                    <option value="hiking">Hiking</option>
                    <option value="backpacking">Backpacking</option>
                </select>
            </div>
            <div class="region-btn" id="primarySelect">
                <label>Primary Region: </label>
                <select class="form-control" id="primarySelectSelect">
                    <option value="all">All Adventures</option>
                    <option value="EasternCascades">Eastern Cascades</option>
                    <option value="WesternCascades">Western Cascades</option>
                    <option value="OlympicPenninsula">Olympic Penninsula</option>
                </select>
            </div>
            <div class="region-btn" id="secondarySelect">
                <label>Secondary Region: </label>
                <select class="form-control" id="secondarySelectSelect">
                    <option value="all">All Adventures</option>
                    <option value="NorthCascades">North Cascades</option>
                    <option value="CentralCascades">Central Cascades</option>
                    <option value="SouthCascades">South Cascades</option>
                    <option value="OlympicMountains">Olympic Mountains</option>
                    <option value="OlympicCoast">Olympic Coast</option>
                </select>
            </div>
        </div>
    </div>

<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Sub Region</th>
        <th>Elevation Gain</th>
        <th>Round Trip Distance</th>
        <th>Earliest Melt-out</th>
        <th></th>
      </tr>
    </thead>

    <% adventures.forEach((a) => { %>
            <tr class="<%=a.adventureType%> <%=a.region[0].primary.replace( /\s/g, '')%> <%=a.region[0].secondary.replace( /\s/g, '')%>">
                <td><a href=<%=a.detailsLink%>><%= a.name %></a></td>
                <td><%=a.adventureType%></td>
                <td><%= a.region[0].subRegion %></td>
                <td><%= a.elevationGain %></td>
                <td><%= a.roundtrip %></td>
                <td><%= a.meltout %></td>
            </tr>
        
    <% }); %>


</table>
  

  
</div>
<!-- FOOTER -->
<%- include('./partials/footer') %>
</div>
  <!-- /.container -->



</body>

<script type="text/javascript">

// ---------------------------- cached elements ---------------------------------//
    // Adventure Type
    let select = document.getElementById('typeSelectSelect');
    let hikingElements = document.querySelectorAll('.hiking');
    let backpackingElements = document.querySelectorAll('.backpacking');
    
    // Primary Region
    let primarySelect = document.getElementById('primarySelectSelect');
    let easternElements = document.querySelectorAll('.EasternCascades');
    let westernElements = document.querySelectorAll('.WesternCascades');
    let olympicElements = document.querySelectorAll('.OlympicPenninsula');

    // Secondary Region
    let secondarySelect = document.getElementById('secondarySelectSelect');
    let northElements = document.querySelectorAll('.NorthCascades');
    let centralElements = document.querySelectorAll('.CentralCascades');
    let southElements = document.querySelectorAll('.SouthCascades');
    let olympicMountainElements = document.querySelectorAll('.OlympicMountains');
    let olympicCoastElements = document.querySelectorAll('.OlympicCoast');


//----------------------------- event listeners ----------------------------------//

//--- filter by adventure type
    
    select.addEventListener('change', function (e){
        console.log(e.target.value, 'hitting target');
        let val = e.target.value;
        if(val === 'hiking'){
            backpackingElements.forEach((element) => {
                element.style.display = 'none';
            });
            hikingElements.forEach((element) => {
                if(primarySelect.value === "EasternCascades"){
                    if(element.className.includes('EasternCascades')){
                        if(secondarySelect.value === "NorthCascades"){
                                if(element.className.includes('NorthCascades')){
                                    element.style.display = 'table-row';
                                } 
                        } else if(secondarySelect.value ==="CentralCascades"){
                            if(element.className.includes('CentralCascades')){
                                    element.style.display = 'table-row';
                                }
                        } else if(secondarySelect.value ==="SouthCascades"){
                            if(element.className.includes('SouthCascades')){
                                    element.style.display = 'table-row';
                                }
                        } else if(secondarySelect.value ==="OlympicMountains"){
                            if(element.className.includes('OlympicMountains')){
                                    element.style.display = 'table-row';
                                }
                        } else if(secondarySelect.value ==="OlympicCoast"){
                            if(element.className.includes('OlympicCoast')){
                                    element.style.display = 'table-row';
                                }
                        } else {
                            element.style.display = 'table-row';
                        } 
                } else if(primarySelect.value === "WesternCascades"){
                    if(element.className.includes('WesternCascades')){
                        if(secondarySelect.value === "NorthCascades"){
                                if(element.className.includes('NorthCascades')){
                                    element.style.display = 'table-row';
                                } 
                        } else if(secondarySelect.value ==="CentralCascades"){
                            if(element.className.includes('CentralCascades')){
                                    element.style.display = 'table-row';
                                }
                        } else if(secondarySelect.value ==="SouthCascades"){
                            if(element.className.includes('SouthCascades')){
                                    element.style.display = 'table-row';
                                }
                        } else if(secondarySelect.value ==="OlympicMountains"){
                            if(element.className.includes('OlympicMountains')){
                                    element.style.display = 'table-row';
                                }
                        } else if(secondarySelect.value ==="OlympicCoast"){
                            if(element.className.includes('OlympicCoast')){
                                    element.style.display = 'table-row';
                                }
                        } else {
                            element.style.display = 'table-row';
                        } 
                        }
                } else if(primarySelect.value === "OlympicPenninsula"){
                    if(element.className.includes('OlympicPenninsula')){
                        if(secondarySelect.value === "NorthCascades"){
                                if(element.className.includes('NorthCascades')){
                                    element.style.display = 'table-row';
                                } 
                        } else if(secondarySelect.value ==="CentralCascades"){
                            if(element.className.includes('CentralCascades')){
                                    element.style.display = 'table-row';
                                }
                        } else if(secondarySelect.value ==="SouthCascades"){
                            if(element.className.includes('SouthCascades')){
                                    element.style.display = 'table-row';
                                }
                        } else if(secondarySelect.value ==="OlympicMountains"){
                            if(element.className.includes('OlympicMountains')){
                                    element.style.display = 'table-row';
                                }
                        } else if(secondarySelect.value ==="OlympicCoast"){
                            if(element.className.includes('OlympicCoast')){
                                    element.style.display = 'table-row';
                                }
                        } else {
                            element.style.display = 'table-row';
                        } 
                        }
                } else {
                    if(secondarySelect.value === "NorthCascades"){
                                if(element.className.includes('NorthCascades')){
                                    element.style.display = 'table-row';
                                } 
                        } else if(secondarySelect.value ==="CentralCascades"){
                            if(element.className.includes('CentralCascades')){
                                    element.style.display = 'table-row';
                                }
                        } else if(secondarySelect.value ==="SouthCascades"){
                            if(element.className.includes('SouthCascades')){
                                    element.style.display = 'table-row';
                                }
                        } else if(secondarySelect.value ==="OlympicMountains"){
                            if(element.className.includes('OlympicMountains')){
                                    element.style.display = 'table-row';
                                }
                        } else if(secondarySelect.value ==="OlympicCoast"){
                            if(element.className.includes('OlympicCoast')){
                                    element.style.display = 'table-row';
                                }
                        } else {
                            element.style.display = 'table-row';
                        } 
                }
            }
            });
        } else if(val === 'backpacking'){
            backpackingElements.forEach((element) => {
                if(primarySelect.value === "EasternCascades"){
                    if(element.className.includes('EasternCascades')){
                            if(secondarySelect.value === "NorthCascades"){
                                if(element.className.includes('NorthCascades')){
                                    element.style.display = 'table-row';
                                } 
                        } else if(secondarySelect.value ==="CentralCascades"){
                            if(element.className.includes('CentralCascades')){
                                    element.style.display = 'table-row';
                                }
                        } else if(secondarySelect.value ==="SouthCascades"){
                            if(element.className.includes('SouthCascades')){
                                    element.style.display = 'table-row';
                                }
                        } else if(secondarySelect.value ==="OlympicMountains"){
                            if(element.className.includes('OlympicMountains')){
                                    element.style.display = 'table-row';
                                }
                        } else if(secondarySelect.value ==="OlympicCoast"){
                            if(element.className.includes('OlympicCoast')){
                                    element.style.display = 'table-row';
                                }
                        } else {
                            element.style.display = 'table-row';
                        } 
                        }
                } else if(primarySelect.value === "WesternCascades"){
                    if(element.className.includes('WesternCascades')){
                            if(secondarySelect.value === "NorthCascades"){
                                if(element.className.includes('NorthCascades')){
                                    element.style.display = 'table-row';
                                } 
                        } else if(secondarySelect.value ==="CentralCascades"){
                            if(element.className.includes('CentralCascades')){
                                    element.style.display = 'table-row';
                                }
                        } else if(secondarySelect.value ==="SouthCascades"){
                            if(element.className.includes('SouthCascades')){
                                    element.style.display = 'table-row';
                                }
                        } else if(secondarySelect.value ==="OlympicMountains"){
                            if(element.className.includes('OlympicMountains')){
                                    element.style.display = 'table-row';
                                }
                        } else if(secondarySelect.value ==="OlympicCoast"){
                            if(element.className.includes('OlympicCoast')){
                                    element.style.display = 'table-row';
                                }
                        } else {
                            element.style.display = 'table-row';
                        } 
                        }
                } else if(primarySelect.value === "OlympicPenninsula"){
                    if(element.className.includes('OlympicPenninsula')){
                            if(secondarySelect.value === "NorthCascades"){
                                if(element.className.includes('NorthCascades')){
                                    element.style.display = 'table-row';
                                } 
                        } else if(secondarySelect.value ==="CentralCascades"){
                            if(element.className.includes('CentralCascades')){
                                    element.style.display = 'table-row';
                                }
                        } else if(secondarySelect.value ==="SouthCascades"){
                            if(element.className.includes('SouthCascades')){
                                    element.style.display = 'table-row';
                                }
                        } else if(secondarySelect.value ==="OlympicMountains"){
                            if(element.className.includes('OlympicMountains')){
                                    element.style.display = 'table-row';
                                }
                        } else if(secondarySelect.value ==="OlympicCoast"){
                            if(element.className.includes('OlympicCoast')){
                                    element.style.display = 'table-row';
                                }
                        } else {
                            element.style.display = 'table-row';
                        } 
                        }
                } else {
                    if(secondarySelect.value === "NorthCascades"){
                                if(element.className.includes('NorthCascades')){
                                    element.style.display = 'table-row';
                                } 
                        } else if(secondarySelect.value ==="CentralCascades"){
                            if(element.className.includes('CentralCascades')){
                                    element.style.display = 'table-row';
                                }
                        } else if(secondarySelect.value ==="SouthCascades"){
                            if(element.className.includes('SouthCascades')){
                                    element.style.display = 'table-row';
                                }
                        } else if(secondarySelect.value ==="OlympicMountains"){
                            if(element.className.includes('OlympicMountains')){
                                    element.style.display = 'table-row';
                                }
                        } else if(secondarySelect.value ==="OlympicCoast"){
                            if(element.className.includes('OlympicCoast')){
                                    element.style.display = 'table-row';
                                }
                        } else {
                            element.style.display = 'table-row';
                        } 
                }
            });
            hikingElements.forEach((element) => {
                element.style.display = 'none';
            })
        }
        
        else {
            backpackingElements.forEach((element) => {
                if(primarySelect.value === "EasternCascades"){
                    if(element.className.includes('EasternCascades')){
                            element.style.display = 'table-row';
                        }
                } else if(primarySelect.value === "WesternCascades"){
                    if(element.className.includes('WesternCascades')){
                            element.style.display = 'table-row';
                        }
                } else if(primarySelect.value === "OlympicPenninsula"){
                    if(element.className.includes('OlympicPenninsula')){
                            element.style.display = 'table-row';
                        }
                } else {
                    element.style.display = 'table-row';
                }
            })
            hikingElements.forEach((element) => {
                if(primarySelect.value === "EasternCascades"){
                    if(element.className.includes('EasternCascades')){
                            element.style.display = 'table-row';
                        }
                } else if(primarySelect.value === "WesternCascades"){
                    if(element.className.includes('WesternCascades')){
                            element.style.display = 'table-row';
                        }
                } else if(primarySelect.value === "OlympicPenninsula"){
                    if(element.className.includes('OlympicPenninsula')){
                            element.style.display = 'table-row';
                        }
                } else {
                    element.style.display = 'table-row';
                }
            })
        }
    })

// find a value for the other inputs - query them with document.querySelector

//--- filter by primary region
    console.log(easternElements, "easternElements<-------");
    primarySelect.addEventListener('change', function (e){
        console.log(e.target.value, 'hitting target');
        let val = e.target.value;
        switch (val) {
            case 'EasternCascades':
                westernElements.forEach((element) => {
                    element.style.display = 'none';
                });
                olympicElements.forEach((element) => {
                    element.style.display = 'none';
                });
                easternElements.forEach((element) => {
                    if(select.value === "hiking"){
                    
                        if(element.className.includes('hiking')){
                                console.log("includes hiking");
                                element.style.display = 'table-row';
                            }
                    } else if(select.value === "backpacking"){
                        
                        if(element.className.includes('backpacking')){
                                
                                element.style.display = 'table-row';
                            }
                    
                    } else {
                        element.style.display = 'table-row';
                    }
                });
                break;
                
                
            case 'WesternCascades':
                westernElements.forEach((element) => {
                    if(select.value === "hiking"){
                    
                    if(element.className.includes('hiking')){
                            console.log("includes hiking");
                            element.style.display = 'table-row';
                        }
                } else if(select.value === "backpacking"){
                    
                    if(element.className.includes('backpacking')){
                            
                            element.style.display = 'table-row';
                        }
                
                } else {
                    element.style.display = 'table-row';
                }
                });
                olympicElements.forEach((element) => {
                    element.style.display = 'none';
                });
                easternElements.forEach((element) => {
                    element.style.display = 'none';
                });
                break;
            case 'OlympicPenninsula':
                westernElements.forEach((element) => {
                    element.style.display = 'none';
                });
                olympicElements.forEach((element) => {
                    if(select.value === "hiking"){
                    
                    if(element.className.includes('hiking')){
                            console.log("includes hiking");
                            element.style.display = 'table-row';
                            }
                    } else if(select.value === "backpacking"){
                        
                        if(element.className.includes('backpacking')){
                                
                                element.style.display = 'table-row';
                            }
                    
                    } else {
                        element.style.display = 'table-row';
                    }
                });
                easternElements.forEach((element) => {
                    element.style.display = 'none';
                });
                break;
            case 'all':
                westernElements.forEach((element) => {
                    if(select.value === "hiking"){
                    
                    if(element.className.includes('hiking')){
                            console.log("includes hiking");
                            element.style.display = 'table-row';
                            }
                    } else if(select.value === "backpacking"){
                        
                        if(element.className.includes('backpacking')){
                                
                                element.style.display = 'table-row';
                            }
                    
                    } else {
                        element.style.display = 'table-row';
                    }
                });
                olympicElements.forEach((element) => {
                    if(select.value === "hiking"){
                    
                    if(element.className.includes('hiking')){
                            console.log("includes hiking");
                            element.style.display = 'table-row';
                            }
                    } else if(select.value === "backpacking"){
                        
                        if(element.className.includes('backpacking')){
                                
                                element.style.display = 'table-row';
                            }
                    
                    } else {
                        element.style.display = 'table-row';
                    }
                });
                easternElements.forEach((element) => {
                    if(select.value === "hiking"){
                    
                    if(element.className.includes('hiking')){
                            console.log("includes hiking");
                            element.style.display = 'table-row';
                            }
                    } else if(select.value === "backpacking"){
                        
                        if(element.className.includes('backpacking')){
                                
                                element.style.display = 'table-row';
                            }
                    
                    } else {
                        element.style.display = 'table-row';
                    }
                });
                break;
        }
    })

    //--- filter by secondary region
    console.log(secondarySelect);
    secondarySelect.addEventListener('change', function (e){
        console.log(e.target.value, 'hitting target');
        let val = e.target.value;
        switch (val) {
            case 'NorthCascades':
                northElements.forEach((element) => {
                    if(select.value === "hiking"){
                    
                    if(element.className.includes('hiking')){
                            console.log("includes hiking");
                            element.style.display = 'table-row';
                            }
                    } else if(select.value === "backpacking"){
                        
                        if(element.className.includes('backpacking')){
                                
                                element.style.display = 'table-row';
                            }
                    
                    } else {
                        element.style.display = 'table-row';
                    }
                });
                centralElements.forEach((element) => {
                    element.style.display = 'none';
                });
                southElements.forEach((element) => {
                    element.style.display = 'none';
                });
                olympicMountainElements.forEach((element) => {
                    element.style.display = 'none';
                });
                olympicCoastElements.forEach((element) => {
                    element.style.display = 'none';
                });
                break;
            case 'CentralCascades':
                northElements.forEach((element) => {
                    element.style.display = 'none';
                });
                centralElements.forEach((element) => {
                    if(select.value === "hiking"){
                    
                    if(element.className.includes('hiking')){
                            console.log("includes hiking");
                            element.style.display = 'table-row';
                            }
                    } else if(select.value === "backpacking"){
                        
                        if(element.className.includes('backpacking')){
                                
                                element.style.display = 'table-row';
                            }
                    
                    } else {
                        element.style.display = 'table-row';
                    }
                });
                southElements.forEach((element) => {
                    element.style.display = 'none';
                });
                break;
                olympicMountainElements.forEach((element) => {
                    element.style.display = 'none';
                });
                olympicCoastElements.forEach((element) => {
                    element.style.display = 'none';
                });
            case 'SouthCascades':
                northElements.forEach((element) => {
                    element.style.display = 'none';
                });
                centralElements.forEach((element) => {
                    element.style.display = 'none';
                });
                southElements.forEach((element) => {
                    if(select.value === "hiking"){
                    
                    if(element.className.includes('hiking')){
                            console.log("includes hiking");
                            element.style.display = 'table-row';
                            }
                    } else if(select.value === "backpacking"){
                        
                        if(element.className.includes('backpacking')){
                                
                                element.style.display = 'table-row';
                            }
                    
                    } else {
                        element.style.display = 'table-row';
                    }
                });
                olympicMountainElements.forEach((element) => {
                    element.style.display = 'none';
                });
                olympicCoastElements.forEach((element) => {
                    element.style.display = 'none';
                });
                break;
            case 'OlympicMountains':
                northElements.forEach((element) => {
                    element.style.display = 'none';
                });
                centralElements.forEach((element) => {
                    element.style.display = 'none';
                });
                southElements.forEach((element) => {
                    element.style.display = 'none';
                });
                olympicMountainElements.forEach((element) => {
                    if(select.value === "hiking"){
                    
                    if(element.className.includes('hiking')){
                            console.log("includes hiking");
                            element.style.display = 'table-row';
                            }
                    } else if(select.value === "backpacking"){
                        
                        if(element.className.includes('backpacking')){
                                
                                element.style.display = 'table-row';
                            }
                    
                    } else {
                        element.style.display = 'table-row';
                    }
                });
                olympicCoastElements.forEach((element) => {
                    element.style.display = 'none';
                });
                break;
            case 'OlympicCoast':
                northElements.forEach((element) => {
                    element.style.display = 'none';
                });
                centralElements.forEach((element) => {
                    element.style.display = 'none';
                });
                southElements.forEach((element) => {
                    element.style.display = 'none';
                });
                olympicMountainElements.forEach((element) => {
                    element.style.display = 'none';
                });
                olympicCoastElements.forEach((element) => {
                    if(select.value === "hiking"){
                    
                    if(element.className.includes('hiking')){
                            console.log("includes hiking");
                            element.style.display = 'table-row';
                            }
                    } else if(select.value === "backpacking"){
                        
                        if(element.className.includes('backpacking')){
                                
                                element.style.display = 'table-row';
                            }
                    
                    } else {
                        element.style.display = 'table-row';
                    }
                });
                break;
            case 'all':
                westernElements.forEach((element) => {
                    if(select.value === "hiking"){
                    
                    if(element.className.includes('hiking')){
                            console.log("includes hiking");
                            element.style.display = 'table-row';
                            }
                    } else if(select.value === "backpacking"){
                        
                        if(element.className.includes('backpacking')){
                                
                                element.style.display = 'table-row';
                            }
                    
                    } else {
                        element.style.display = 'table-row';
                    }
                });
                olympicElements.forEach((element) => {
                    if(select.value === "hiking"){
                    
                    if(element.className.includes('hiking')){
                            console.log("includes hiking");
                            element.style.display = 'table-row';
                            }
                    } else if(select.value === "backpacking"){
                        
                        if(element.className.includes('backpacking')){
                                
                                element.style.display = 'table-row';
                            }
                    
                    } else {
                        element.style.display = 'table-row';
                    }
                });
                easternElements.forEach((element) => {
                    if(select.value === "hiking"){
                    
                    if(element.className.includes('hiking')){
                            console.log("includes hiking");
                            element.style.display = 'table-row';
                            }
                    } else if(select.value === "backpacking"){
                        
                        if(element.className.includes('backpacking')){
                                
                                element.style.display = 'table-row';
                            }
                    
                    } else {
                        element.style.display = 'table-row';
                    }
                });
                olympicMountainElements.forEach((element) => {
                    if(select.value === "hiking"){
                    
                    if(element.className.includes('hiking')){
                            console.log("includes hiking");
                            element.style.display = 'table-row';
                            }
                    } else if(select.value === "backpacking"){
                        
                        if(element.className.includes('backpacking')){
                                
                                element.style.display = 'table-row';
                            }
                    
                    } else {
                        element.style.display = 'table-row';
                    }
                });
                olympicCoastElements.forEach((element) => {
                    if(select.value === "hiking"){
                    
                    if(element.className.includes('hiking')){
                            console.log("includes hiking");
                            element.style.display = 'table-row';
                            }
                    } else if(select.value === "backpacking"){
                        
                        if(element.className.includes('backpacking')){
                                
                                element.style.display = 'table-row';
                            }
                    
                    } else {
                        element.style.display = 'table-row';
                    }
                });
                break;
        }
    })
        

    
</script>

</html>
