<!-- HEAD -->
<%- include('./partials/header') %>

<body>
<!-- NAV -->
<%- include('./partials/nav') %>
  

  <!-- Page Content -->
  <div class="container">

    <h1>Adventures</h1>

    <div class="row">
        <div class="col">
            <div id="typeSelect">
                <select id="typeSelectSelect">
                    <option value="all">All Adventures</option>
                    <option value="hiking">Hiking</option>
                    <option value="backpacking">Backpacking</option>
                </select>
            </div>
        </div>
    </div>

<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Sub Region</th>
        <th>Elevation Gain</th>
        <th>Round Trip Distance</th>
        <th>Earliest Melt-out</th>
        <th></th>
      </tr>
    </thead>

    <% adventures.forEach((a) => { %>
            <tr class="<%=a.adventureType%> <%=a.region[0].primary%>">
                <td><a href=<%=a.detailsLink%>><%= a.name %></a></td>
                <td><%=a.adventureType%></td>
                <td><%= a.region[0].subRegion %></td>
                <td><%= a.elevationGain %></td>
                <td><%= a.roundtrip %></td>
                <td><%= a.meltout %></td>
            </tr>
        
    <% }); %>



    <!-- FOOTER -->
<%- include('./partials/footer') %>
  </div>
  <!-- /.container -->



</body>

<script type="text/javascript">
    let select = document.getElementById('typeSelectSelect');
    let hikingElements = document.querySelectorAll('.Hike');
    let backpackingElements = document.querySelectorAll('.Backpack');
    let backpack = backpackingElements[0];

    console.log(select);
    select.addEventListener('change', function (e){
        console.log(e.target.value, 'hitting target');
        let val = e.target.value;
        if(val === 'hiking'){
            backpackingElements.forEach((element) => {
                element.style.display = 'none';
            })
            hikingElements.forEach((element) => {
                console.log(element, "hike element")
                element.style.display = 'table-row';
            })
        } else if(val === 'backpacking'){
            backpackingElements.forEach((element) => {
                element.style.display = 'table-row';
            })
            hikingElements.forEach((element) => {
                element.style.display = 'none';
            })
        }
        
        else {
            backpackingElements.forEach((element) => {
                element.style.display = 'table-row';
            })
            hikingElements.forEach((element) => {
                element.style.display = 'table-row';
            })
        }
    })
    
</script>

</html>
